body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
}


.wrap {
    width: 980px;
    margin: 0 auto;
}


.content {
    width: 36%;
    height: 360px;
    background-color: #f9f9f9;
    float: right;
    border-radius: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.content2 {
    width: 50%;
    height: 200px;
    background-color: #f9f9f9;
    float: left;
    border-radius: 20px;
    margin-bottom: 5px;
    text-align: center;
}


.sidebar {
    width: 64%;
    height: 580px;
    background-color: #a2d8df;
    float: left;
    border-radius: 20px;
    margin-bottom: 5px;
    align-items: center;
    display: grid;
    place-items: center;
}

#trlblBilgi, #lblBilgi {
    font-size: 12px;
    color: red;
}

#giris, #teacher_kaydet, #trgiris, #user_kaydet {
    background-color: #a2d8df;
    border-radius: 20px;
    vertical-align: central;
}

kullaniciEposta, kullaniciSifre {
    border-radius: 40px;
}




.navbar2 {
    width: 100%;
    background-color: #31566e;
    overflow: auto;
    margin-bottom: 10px;
}

    .navbar2 a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

        .navbar2 a:hover {
            background-color: #000;
        }

.active2 {
    background-color: #a2d8df;
}

@media screen and (max-width: 500px) {
    .navbar2 a {
        float: none;
        display: block;
    }
}

