USE [master]
GO
/****** Object:  Database [course]    Script Date: 10.01.2023 16:28:24 ******/
CREATE DATABASE [course]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'course', FILENAME = N'C:\Users\mesut.oztas\course.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'course_log', FILENAME = N'C:\Users\mesut.oztas\course_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [course].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [course]
GO
USE [course]
GO
/****** Object:  Table [dbo].[hour]    Script Date: 10.01.2023 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hour](
	[hourId] [int] NOT NULL,
	[saat] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation]    Script Date: 10.01.2023 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation](
	[reservationId] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [int] NOT NULL,
	[teacherId] [int] NOT NULL,
	[date_choose] [nvarchar](50) NULL,
	[hour] [nvarchar](50) NULL,
	[lessonname] [nvarchar](50) NULL,
	[lessontype] [nchar](10) NULL,
 CONSTRAINT [PK_reservation] PRIMARY KEY CLUSTERED 
(
	[reservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 10.01.2023 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[studentId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[password] [nvarchar](50) NOT NULL,
	[password_again] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 10.01.2023 16:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[teacherId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
	[age] [int] NULL,
	[city] [nvarchar](50) NULL,
	[education] [nvarchar](50) NULL,
	[branch] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[password_again] [nvarchar](50) NULL,
	[photo] [nvarchar](max) NULL,
	[information] [nvarchar](50) NULL,
 CONSTRAINT [PK_teacher] PRIMARY KEY CLUSTERED 
(
	[teacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
